<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serviciosocial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServicioSocial">
        <activity
            android:name=".ConsultarEstadoActivity"
            android:exported="false" />
        <activity
            android:name=".ConsultarMateriaActivity"
            android:exported="false" />
        <activity
            android:name=".CrearMateriaActivity"
            android:exported="false" />
        <activity
            android:name=".CrearEstudianteActivity"
            android:exported="false"
            android:label="Crear Estudiante"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ServicioSocial.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>