<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serviciosocial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServicioSocial">
        <activity
            android:name=".login.ActualizarContraUsuario"
            android:exported="false"
            android:label="Cambiar Contraseña"/>
        <activity
            android:name=".login.AgregarUsuarioActivity"
            android:exported="false"
            android:label="Agregar Usuario" />
        <activity
            android:name=".login.ActualizarUsuarioActivity"
            android:exported="false"
            android:label="Actualizar Usuario" />
        <activity
            android:name=".login.GestionUsuarioActivity"
            android:exported="false"
            android:label="Gestion de Usuarios" />
        <activity
            android:name=".MenuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".categoria.ActualizarCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".categoria.ConsultarCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".categoria.CrearCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".modalidad.ModificarModalidadActivity"
            android:exported="false" />
        <activity
            android:name=".modalidad.ConsultarModalidadActivity"
            android:exported="false" />
        <activity
            android:name=".modalidad.CrearModalidadActivity"
            android:exported="false" />
        <activity
            android:name=".proyecto.ConsultarProyectoActivity"
            android:exported="false" />
        <activity
            android:name=".proyecto.CrearProyectoActivity"
            android:exported="false" />
        <activity
            android:name=".proyecto.ModificarProyectoActivity"
            android:exported="false" />
        <activity
            android:name=".detalleBitacora.ModificarDetalleBitacoraActivity"
            android:exported="false" />
        <activity
            android:name=".detalleBitacora.CrearDetalleBitacoraActivity"
            android:exported="false" />
        <activity
            android:name=".detalleBitacora.ConsultaDetalleBitacoraActivity"
            android:exported="false" />

        <activity
            android:name=".bitacora.ModificarBitacoraActivity"
            android:exported="false" />
        <activity
            android:name=".bitacora.CrearBitacoraActivity"
            android:exported="false" />
        <activity
            android:name=".bitacora.ConsultaBitacoraActivity"
            android:exported="false" />

        <activity
            android:name=".docente.ModificarDocenteActivity"
            android:exported="false" />
        <activity
            android:name=".docente.CrearDocenteActivity"
            android:exported="false" />
        <activity
            android:name=".docente.ConsultarDocenteActivity"
            android:exported="false" />
        <activity
            android:name=".areaCarrera.ModificarAreaActivity"
            android:exported="false" />
        <activity
            android:name=".areaCarrera.ConsultarAreaActivity"
            android:exported="false" />
        <activity
            android:name=".areaCarrera.CrearAreaActivity"
            android:exported="false" />
        <activity
            android:name=".carrera.ConsultarCarreraActivity"
            android:exported="false" />
        <activity
            android:name=".carrera.ModificarCarreraActivity"
            android:exported="false" />
        <activity
            android:name=".carrera.CrearCarreraActivity"
            android:exported="false" />
        <activity
            android:name=".estudiante.ConsultarEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".estudiante.CrearEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".estudiante.ModificarEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ServicioSocial.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.CrearEstudianteActivity"
            android:exported="false"
            android:label="Crear Estudiante" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ServicioSocial.NoActionBar" />
    </application>

</manifest>